<div class="wrapper">
  <div class="card">
    <h2>CosmoKnot</h2>
      <p>
        Exploring the solar system as a united humanity will
        bring us all together. CosmoKnot endeavor serves to inspire
        the next generation of explorers!<br /> Do you have what it 
        takes? <br />
        Join us! We are going on a voyage... into the universe! Mars is
        only the start!<br />
        Our journeys will help us better understand the origins
        of the solar system, the origins of life and our place in
        the universe.<br />
        Want to experience what it will be like on the Red Planet
        before venturing out?<br />
        Visit the following, on our very own Earth, for a little
        taste of life on Mars:
      </p>


        <a href="https://www.nps.gov/deva/index.htm">Death Valley, CA</a>
        <a href="http://www.monolake.org/visit/">Mono Lake, CA</a>
        <a href="https://www.gohawaii.com/experiences/sightseeing/Volcanoes">Hawaii Volcanoes</a>
        <a href="https://www.alaskacenters.gov/explore/attractions/permafrost">Permafrost, Alaska</a>
        <a href="https://csegrecorder.com/articles/view/mars-in-canada-the-nasa-haughton-mars-project-devon-island-nunavut">Devon Island, Canada</a>
     
  </div>    
</div>
<router-outlet></router-outlet>