/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

@font-face {
    font-family: 'masseffect';
    src: url('../src/assets/me123.ttf');
}

html, body { 
    height: 100%; 
}

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: url('https://i.imgur.com/cplXyB9.jpg') top no-repeat;
    background-size: cover;
}